.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    /* min-height: 10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: 230px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.App-main {
    padding-top: 30vh;
    min-height: 200vh;
}

.App-inner {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1em;
}

.App-header .name {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1em;
    margin: 0;
    float: left;
    color: #ccc;
}
.App-header nav {
    float: right;
}
.App-header .name,
.App-header nav {
    display: inline-block;
    position: relative;
    
}

.App-header nav p{
    letter-spacing: 1px;
    float: right;
    margin-right: 1em;
}

.App-header .name p {
    float: left;
    margin: 0;
    padding:0;
    top: 0;
}

/* анти-подергивание */
.App-header .name,
.App-header nav p {
    line-height: 1em;
}
.App-header h1:hover {
    color: #fff;
}

/* Анимация высоты */
.App-header .name, 
.App-header nav p {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* плавная анимация только цвета при наведении курсора*/
.App-header .name h1{
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;;
}

.App-header .name.shrink {
    line-height:  1em;
    font-size: .6em;
}

.App-header.shrink nav{
    font-size: .7em;
}

.App-header .name.shrink p{
    line-height:  1.5em;
    font-size: .7em;
}

.App-header.shrink {
    height: 90px;
}






/* Медиа запросы */


@media screen and (max-width:1200px) {

    .App-header{
        height: 200px;
    } 
    .App-header nav p {
        font-size: .6em;
        letter-spacing: 1px;
        float: none;
        margin-right: 1em;
    }
    
    .App-header nav p.shrink {
        opacity: 0;
    }
    .App-header .name,
    .App-header nav p {
        line-height: 1em;
    }
    .App-header .name{
        line-height: 0.6em;
    }
    .App-header .name h1 {
        font-size: .8em;
    }
    .App-header .name p {
        font-size: .6em;
    }
    .App-header .name.shrink p{
        line-height:  1em;
        font-size: .6em;
    }

}

/* @media screen and (max-width: 320px) {

    .App-header nav a,
    .App-header.App-header-shrink nav a {
        line-height: 0;
    }

    .App-header nav p.shrink {
        visibility: hidden;
    }
} */